
<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div *ngIf="showUserForm">
  <h2>Add User</h2>

  <form #userForm="ngForm" (submit)="onSubmit(userForm)">
    <div class="form-group">

      <label>First Name</label>
      <input 
      type="text" 
      [(ngModel)]="user.firstName" 
      [ngClass]="{'is-invalid' : userFirstName.errors && userFirstName.touched}"
      class="form-control"
      name="firstName" 
      #userFirstName="ngModel"
      required
      minlength="2"
      >
      <div [hidden]="!userFirstName.errors?.required"
      class="invalid-feedback">
        First name required
      </div>

      <div [hidden]="!userFirstName.errors?.minlength"
      class="invalid-feedback">
        Must be at least 2 characters
      </div>

    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input 
      type="text" 
      [(ngModel)]="user.lastName" 
      [ngClass]="{'is-invalid' : userLastName.errors && userLastName.touched}"
      class="form-control"
      name="lastName" 
      #userLastName="ngModel"
      required
      minlength="2"
      >
      <div [hidden]="!userLastName.errors?.required"
      class="invalid-feedback">
        Last name required
      </div>

      <div [hidden]="!userLastName.errors?.minlength"
      class="invalid-feedback">
        Must be at least 2 characters
      </div>

    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input 
      type="email" 
      [(ngModel)]="user.email" 
      [ngClass]="{'is-invalid' : userEmail.errors && userEmail.touched}"
      class="form-control"
      name="email" 
      #userEmail="ngModel"
      required
      email="true"
      >
      <div [hidden]="!userLastName.errors?.required"
      class="invalid-feedback">
        Last name required
      </div>

      <div [hidden]="!userLastName.errors?.minlength"
      class="invalid-feedback">
        Must be at least 2 characters
      </div>

    </div>

    <button (click)="addUser()" 
      class="btn btn-block mb-3" 
      [disabled]="!userForm.form.valid">Add New User</button>

  </form>
</div>

<h2>Users</h2>
<ul class="list-unstyled">
  <li class="card card-body mb-2" *ngFor="let user of users">
    <h3>
      {{ user.firstName }} {{ user.lastName }}
        <small>
          <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
            <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
          </button>
        </small>

    </h3>
    <ul class="list-group" *ngIf="!user.hide" >
      <li class="list-group-item">Email: {{ user.email }}</li>

    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0"> No Users Found</h4>